.eng-data {
    width: 100%;
    padding: 1rem;
    background-color: rgba(19, 19, 19, 0.8);
}
.jobs{
max-width:1340px;
margin: auto;
padding:1rem;

}

.data{
max-width:1340px;
padding:1rem;
margin:auto;
}
h2{
    background-color: white;
}